faiss-cpu==1.11.0
fsspec==2025.5.1
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-auth==2.40.3
googleapis-common-protos==1.70.0
huggingface-hub==0.33.2
joblib==1.5.1
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-google-genai==2.1.6
langchain-groq==0.3.5
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
langsmith==0.4.4
packaging==24.2
pillow==11.3.0
python-dotenv==1.1.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
torch==2.7.1
tqdm==4.67.1
pypdf
sentence-transformers
ipykernel==6.29.5
ipython==8.37.0
joblib==1.5.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kagglehub==0.3.12
matplotlib==3.10.3
matplotlib-inline==0.1.7
mpmath==1.3.0
numpy==2.2.6
opencv-python==4.11.0.86
packaging==25.0
pandas==2.3.0
parso==0.8.4
pillow==11.3.0
requests==2.32.4
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
torch==2.7.1
torchmetrics==1.7.3
torchvision==0.22.1 
tqdm==4.67.1
segmentation_models_pytorch
FPDF
streamlit
deep_translator
